/** Définition des polices personnalisées */

@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('polices/Roboto-Light-webfont.eot');
    src: url('polices/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Light-webfont.woff') format('woff'),
         url('polices/Roboto-Light-webfont.ttf') format('truetype'),
         url('polices/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('polices/Roboto-Medium-webfont.eot');
    src: url('polices/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Medium-webfont.woff') format('woff'),
         url('polices/Roboto-Medium-webfont.ttf') format('truetype'),
         url('polices/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('polices/Roboto-Thin-webfont.eot');
    src: url('polices/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Thin-webfont.woff') format('woff'),
         url('polices/Roboto-Thin-webfont.ttf') format('truetype'),
         url('polices/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Couleurs générales du thème */

:root {
	--couleurTheme : rgb(255,183,77); /* background aside */
	--couleurTheme2 : rgb(255,204,128); /* border-radius aside */
}

/** RESET */

#block_page {
    margin: auto;
    padding: 0;
    max-width: 1190px;
    height: auto;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
	font-family: robotoregular,'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

/* Colonne droite - page principale */

main {
	float: right;
	width: 67.9%;
}

/* 1 header : identité */

header h1 {
	font-family: 'robotothin';
	text-transform: uppercase;
	font-size: 3.8em;
	font-weight: bold;
	margin: 98px 0 0 7.5%;
}

header strong {
	font-family: 'robotolight';
	color: rgb(254,202,7);
	color: var(--couleurTheme);
}

header h2 {
	position: relative;
	font-family: 'robotolight';
	font-size: 1.8em;
	font-weight: bold;
	color: rgb(74,74,74);
	margin-top: 0;
	margin-left: 7.5%;
}

#souligne {
	position: absolute;
	top: 35px;
	left: 0;
	margin: 0;
	border-top: 2px solid rgb(254,202,7);
	border-top: 2px solid var(--couleurTheme);
	width: 77px;
}

/* 2 déclarations communes sections formations,
 expérience pro et recommandations */

/* Flex */

.liste {
	display: -webkit-box; /* Old Safari 3 1-5, iOS 6-, Android */
    display: -moz-box; /* Old firefox 21- */
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* Chrome 21-28, Safari 6.1+ */
    display: flex; /* IE 11, Chrome 29+, Opera 12.1+, Firefox 22+, Safari 7 */
    -webkit-box-orient: horizontal; /* flex: row; */
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start; /* justify-content */
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: flex-start;
    -webkit-box-align: start; /* align-items */
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: flex-start;
}

.formation {
	margin-top: 130px;
}

.experience_pro {
	margin-top: 4px;
}

.formation h2, .experience_pro h2, .recommandations h2 {
	width: 86%;
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid rgb(254,202,7);
	border-bottom: 2px solid var(--couleurTheme);
	padding-bottom: 16px;
	margin-top: 0;
	margin-left: 7.7%;
}

.formation i, .experience_pro i, .recommandations i {
	margin-right: 40px;
	margin-left: 12px;
	color: rgb(254,202,7);
	color: var(--couleurTheme);
	font-size: 1.2em;
}

.liste_droite {
	flex-basis: 92%;
	padding-left: 0;
	margin-left: 11.5%;
}

.liste_droite li {
	font-family: 'robotomedium';
	list-style-type: none;
	color: rgb(74,74,74);
	font-size: 1em;
	font-weight: normal;
	padding-bottom: 130px;
	position: relative;
}

.liste_droite--dates {
	margin: 0;
	padding-right: 5px;
	text-transform: capitalize;
}

.liste_droite--puce1 {
	position: absolute;
	top: -10px;
	left:-26px;
	width: 6px;
	height: 6px;
	background-color: rgb(254,202,7);
	background-color: var(--couleurTheme);
	background-clip: content-box;
	padding: 2px;
	border: 2px solid rgb(254,202,7);
	border: 2px solid var(--couleurTheme);
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
}

.liste_droite--puce2 {
	position: absolute;
	top: -10px;
	left:-26px;
	width: 6px;
	height: 6px;
	background-color: rgb(254,202,7);
	background-color: var(--couleurTheme);
	padding: 1px;
	border: 1px solid transparent;
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
}

.liste_droite--ville {
	margin: 0;
	text-transform: capitalize;
	line-height: 1.1em;
}

.liste_gauche {
	flex-grow: 1;
	padding-left: 0;
}

.liste_gauche li {
	list-style-type: none;
	margin-right: 40px;
}

.liste_gauche--titre {
	text-transform: uppercase;
	color: rgb(74,74,74);
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.7em;
	margin: 0;
}

.liste_gauche--soustitre {
	font-family: 'robotolight';
	text-transform: capitalize;
	font-size: 1em;
	font-weight: bold;
	margin: 3px 0;
}

.liste_gauche--soustitre span {
	text-transform: lowercase;
}

.liste_gauche--texte {
	font-size: 1em;
	text-align: justify;
	margin-top: 6px;
	padding-right: 3px;

} /* Fin des déclarations communes */

/* 3 footer : recommandations */

.recommandations div ul {
	padding-left: 7.7%;
	margin-right: 120px;
	margin-top: 0;
}

.recommandations li {
	list-style-type: none;
	width: 200px;
}

.recommandations_liste--nom {
	text-transform: uppercase;
	color: rgb(74,74,74);
	font-size: 1em;
	font-weight: bold;
	margin-top: 9px;
	margin-bottom: 6px;
}

.recommandations_liste--poste {
	text-transform: capitalize;
	font-weight: bold;
	color: rgb(74,74,74);
	margin: 0;
}

.recommandations_liste--poste span {
	text-transform: lowercase;
}

.recommandations_liste--tel {
	text-transform: capitalize;
	font-weight: bold;
	color: rgb(74,74,74);
	margin-top: 2px;
	margin-bottom: 0;
}

.recommandations_liste--email {
	text-transform: capitalize;
	color: rgb(74,74,74);
	margin-top: 4px;
}

.recommandations a {
	text-decoration: none;
	text-transform: none;
	color: rgb(74,74,74);
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.recommandations a:hover {
	color: rgb(64,64,64);
	font-size: 1.05em;
}

/* Colonne gauche ******************************/

/* début aside */

aside {
	max-width: 32.1%;
	background-color: rgb(254,202,7);
	background-color: var(--couleurTheme);
}

/* 1 photo d'identité */

.photo {
	text-align: center;
}

aside img {
	margin-top: 65px;
	margin-bottom: 33px;
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid rgb(218,175,18);
	border: 4px solid var(--couleurTheme2);
}

/* 2 déclaration class="bandeau" */

.bandeau_gris {
	padding: 6px 0;
	margin: 0;
	font-size: 1.7em;
	font-weight: bold;
	color: rgb(254,202,7);
	color: var(--couleurTheme);
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(64,64,64);
}
/* 3 section contact */

.contact address p {
	text-transform: capitalize;
	font-style: normal;
	font-size: 1em;
	color: rgb(74,74,74);
	margin: 0 50px;
}

.contact address a {
	text-transform: lowercase;
}

.contact a {
	font-family: robotoregular;
    font-size: 1em;
    color: rgb(74,74,74);
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.contact a:hover {
	color: rgb(64,64,64);
	font-size: 1.05em;
}

.contact p.marge {
	margin-top: 30px;
}

.contact p.saut {
	margin-top: 13px;
	margin-left: 50px;
}

.contact p:last-of-type {
	margin-bottom: 40px;
}

/* 3 section à propos */


.a_propos div p {
	text-align: justify;
	color: rgb(74,74,74);
	margin: 30px 50px 85px 50px;
}

/* 4 footer loisirs */


.loisirs p {
	text-align: center;
	padding-bottom: 3px;
}

.loisirs i {
	font-size: 2.5em;
	color: rgb(74,74,74);
	border: 2px solid rgb(74,74,74);
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	padding: 15px;
	margin: 12px;
	opacity: 0.9;
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

	main {
		float: none;
		width: 100%;
	}

	aside {
		max-width: 100%;
	}

	header h1 {
		margin-top: 0;
		font-size: 2.8em;
	}

	header img {
		position: absolute;
		top: 0;
		left: 58%;
		width: 15%;
	}

	.liste {
		justify-content: center;
	}

	.liste_droite {
		flex-basis: 60%;
	}

	.contact {
		position: absolute;
		top: 0;
		right: 5px;
		background-color: var(--couleurTheme);
		max-width: 260px;
	}

	.contact h2 {
		font-size: 1.1em;
	}

	.contact address {
		margin-top: 3px;
		font-size: 0.8em;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.contact address p {
		margin: 0 3px;
	}

	.contact p.saut {
		margin: 3px;
	}

	.contact p.marge {
		margin-top: 10px;
	}

	.contact p:last-of-type {
	margin-bottom: 10px;
	}

	.a_propos div p {
		margin: 30px 50px;
	}

}


}

/** Mobile */

@media (max-width: 700px) {

}