/** Définition des polices personnalisées */

@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('polices/Roboto-Light-webfont.eot');
    src: url('polices/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Light-webfont.woff2') format('woff2'),
         url('polices/Roboto-Light-webfont.woff') format('woff'),
         url('polices/Roboto-Light-webfont.ttf') format('truetype'),
         url('polices/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('polices/RobotoCondensed-Light-webfont.eot');
    src: url('polices/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('polices/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('polices/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('polices/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('polices/Roboto-Thin-webfont.eot');
    src: url('polices/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Thin-webfont.woff2') format('woff2'),
         url('polices/Roboto-Thin-webfont.woff') format('woff'),
         url('polices/Roboto-Thin-webfont.ttf') format('truetype'),
         url('polices/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** RESET */

#block_page {
    margin: auto;
    padding: 0;
    max-width: 1190px;
    height: 1680px;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
	font-family: robotoregular,'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

/* Colonne droite */

main {
	float: right;
	width: 808px;
	position: relative;
}

header h1 {
	position: absolute;
	top: 100px;
	left: 150px;
	font-family: 'robotothin';
	text-transform: uppercase;
	font-size: 3.8em;
	font-weight: bold;
	margin: 0;
}

header strong {
	font-family: 'robotolight';
	color: rgb(254,202,7);
}

header h2 {
	position: absolute;
	top: 180px;
	left: 150px;
	margin: 0;
	font-family: 'robotolight';
	font-size: 1.8em;
	font-weight: bold;
	color: rgb(74,74,74);
}

#souligne {
	position: absolute;
	top: 217px;
	left: 150px;
	margin: 0;
	border-top: 2px solid rgb(254,202,7);
	width: 77px;
}

.formation h2 {
	position: absolute;
	left:150px;
	top: 325px;
}

.formation h2, .experience_pro h2, .recommandations h2 {
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid rgb(254,202,7);
	padding-bottom: 16px;
	width: 690px;
}

.formation i, .experience_pro i, .recommandations i {
	margin-right: 40px;
	color: rgb(254,202,7);
	font-size: 1.2em;
}

.experience_pro h2{
	position: absolute;
	left:150px;
	top: 782px;
}

.recommandations h2{
	position: absolute;
	left:150px;
	top: 1392px;
}

/* Colonne gauche */

aside {
	width: 382px;
	height: 1680px;
	background-color: rgb(254,202,7);
	position: relative;
}

aside img {
	position: absolute;
	top: 70px;
	right: 82px;
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid rgb(218,175,18);
}

.contact {
	position: absolute;
	top: 330px;
}

.a_propos {
	position: absolute;
	top: 720px;
}

.loisirs {
	position: absolute;
	top: 1500px;
}

.bandeau_gris {
	width: 382px;
	padding: 6px 0;
	margin: 0;
	font-size: 1.7em;
	font-weight: bold;
	color: rgb(254,202,7);
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(64,64,64);
}

.contact address p {
	text-transform: capitalize;
	font-style: normal;
	font-size: 1em;
	color: rgb(74,74,74);
	margin: 0 50px;
}

.contact address a {
	text-transform: lowercase;
}

.contact a {
	font-family: robotoregular;
    font-size: 1em;
    color: rgb(74,74,74);
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.contact a:hover {
	color: rgb(64,64,64);
	font-size: 1.05em;
}

.contact p.marge {
	margin-top: 30px;
}

.contact p.saut {
	margin-top: 13px;
	margin-left: 50px;
}

.a_propos div p {
	text-align: justify;
	color: rgb(74,74,74);
	margin: 30px 50px 0 60px;
}

.loisirs p {
	text-align: center;
}

.loisirs i {
	font-size: 2.5em;
	color: rgb(74,74,74);
	border: 2px solid rgb(74,74,74);
	-webkit-border-radius : 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	padding: 15px;
	margin: 12px;
	opacity: 0.9;
}
